.title {
  font-size: 10vmin;
  color: #feda4a;
}

.play-button {
  cursor: pointer;
  background-color: #feda4a;
  font-size: 5vmin;
  color: black;
  text-decoration: none;
  border-radius: 5%;
  padding: 1vmin 3vmin;
}

.play-button:hover {
  filter: brightness(130%);
  position: relative;
  transition: all 0.1s ease-out;
  top: -1px;
  left: -1px;
}
